@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #ecfeff, #bfdbfe);
}

.form-container {
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}